<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Error"
      internalLogFile="Logs/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="database" xsi:type="Database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${configsetting:name=NLogConnection.connectionString}"
           >

			<commandText>
				INSERT INTO master.ars_tbl_logs (
				application, logged, level, message, logger, callsite, exception) VALUES (
				@application, @logged, @level, @message, @logger, @callsite, @exception);
			</commandText>

			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
		<target name="security" xsi:type="Database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${configsetting:name=NLogConnection.connectionString}"
           >

			<commandText>
				INSERT INTO master.ars_tbl_security_logs (logged_date, level, message, logger, callsite, username) VALUES
				(@logged, @level, @message, @logger, @callsite, @identity);
			</commandText>

			<parameter name="@logged" layout="${date}" dbtype="DateTime" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@identity" layout="${aspnet-user-identity}"/>
		</target>

		<target name="debug_table" xsi:type="Database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${configsetting:name=NLogConnection.connectionString}"
           >

			<commandText>
				INSERT INTO master.ars_tbl_debug_logs (
				application, logged, level, message, logger, callsite, exception) VALUES (
				@application, @logged, @level, @message, @logger, @callsite, @exception);
			</commandText>

			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
		<!-- write logs to file  -->
		<!-- <target xsi:type="File" name="infoFile" fileName="Logs/Info-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" /> -->

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<!-- <target xsi:type="File" name="errorFile" fileName="Logs/Error-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" /> -->

	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
		<logger name="SecurityLog" minlevel="info" writeTo="security" />
		<logger name="DebugLog" minlevel="info" writeTo="debug_table" />

		<!--All logs, including from Microsoft-->
		<!-- <logger name="*" minlevel="Info" writeTo="infoFile" /> -->

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<!-- <logger name="*" minlevel="Error" writeTo="errorFile" /> -->
	</rules>
</nlog>